@font-face {
    font-family: "TH-Sarabun";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/THSarabunNew/THSarabunNew.ttf') format('truetype');
}

@font-face {
    font-family: "TH-Sarabun";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/THSarabunNew/THSarabunNew\ Bold.ttf') format('truetype');
}

@font-face {
    font-family: "TH-Sarabun";
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/THSarabunNew/THSarabunNew\ Italic.ttf') format('truetype');
}

@font-face {
    font-family: "TH-Sarabun";
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/THSarabunNew/THSarabunNew\ BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: "Lucida Sans Unicode";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/fonts/Lucida\ Sans\ Unicode.ttf') format('truetype');
}

@page {
    size: a4 portrait;
    margin-top: .5cm;
    margin-left: 1.4cm;
    margin-right: 1.2cm;
    margin-bottom: 1.5cm;
    font-family: "TH-Sarabun";
}

body .page {
    page-break-after: auto;
    max-width: 29.7cm;
    max-height: 21cm;
    margin-left: auto;
    margin-right: auto;

}

div.line {
    border-top: .5px solid black;
    margin-top: 8px;
    margin-bottom: 12px;
}

.header-page .name-company {
    font-size: 24px;
    letter-spacing: .1px;
    line-height: 18px;
}

.header-page span {
    font-size: 20px;
    letter-spacing: .1px;
}

.header-page {
    line-height: 15px;
    width: 100%;
}

.header-page .company-logo {
    text-align: right;
}

.logo {
    max-height: 72px;
}

.content .title {
    text-align: center;
    font-size: 24px;
    line-height: 14px;
}

.detail table {
    width: 100%;
    line-height: 14px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
}

.table {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.table table,
.table th,
.table td {
    border: 1px solid black;
    border-spacing: 0;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label.icon::before {
    padding-left: 10px;
    content: '\274F';
    font-size: 22px;
    font-family: 'DejaVu Sans Mono';
}

input[type="checkbox"]:checked+label.icon::before {
    padding-left: 10px;
    content: '\25A0';
    font-size: 22px;
    font-family: 'DejaVu Sans Mono';
}

div.dotted-line {
    border-top: 1px dotted black;
    width: 100%;
}

.footer tr.sign-block td {
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    vertical-align: bottom;
}

.footer tr.sign-block td span {
    line-height: 20px;
    font-size: 20px;
}

table.test-table,
table.test-table th,
table.test-table td {
    border: 1px solid black;
}