.title {
    margin-top: -5px;
}

.detail {
    margin-top: 10px;
}

.detail th, .detail td {
    font-size: 20px;
}

.detail th {
    text-align: left;
}

.table table {
    margin-top: 20px;
    width: 100%;
}

.table table th, .table table td {
    line-height: 14px;
    font-size: 18px;
    padding-left: 4px;
    padding-right: 8px;

}

.table table td.center {
    text-align: center;
}

.table table td.right {
    text-align: right;
}

.footer table {
    width: 100%;
    line-height: 14px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.footer table td div {
    padding-bottom: 10px !important;
}