.form-body {
    padding:  0 15px 0 15px;
    .accordion-button{
        background-color: #fff;
        border: none;
        color: #78A3D4 !important;
    }

    .input-group{
        align-items: center;

        .input-group-addon {
            margin: 0 12px !important;
        }
    }
    
    input:disabled {
        border: none;
        background: none;
        color: black;
        padding: 0;
    }
    input[type="radio"]:disabled:not(:checked) + label {
        display: none;
    }
    input[type="radio"]:disabled:not(:checked) {
        display: none;
    }
    input[type="radio"]:disabled:checked {
        display: none;
    }
    select:disabled {
        border: none;
        background: none;
        color: black;
        padding: 0;
    }
    .file-box {
        .file {
            border: 1px solid #e7eaec;
            padding: 0;
            background-color: #ffffff;
            position: relative;
            margin-bottom: 10px;
            margin-right: 10px;
            margin-top: 5px;
            .icon {
                text-align: center;
                font-size: 40px;
                color: $light-gray
            }
            .file-name {
                background-color: #f8f8f8;
                border-top: 1px solid #e7eaec;
                text-align: center;
                color: #78A3D4;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}
