@font-face {
    font-family: "TH-Sarabun";
    font-style: normal;
    font-weight: normal;
    src: url('../../public/assets/fonts/THSarabunNew/THSarabunNew.ttf') format('truetype');
}
@font-face {
    font-family: "TH-Sarabun";
    font-style: normal;
    font-weight: 700;
    src: url('../../public/assets/fonts/THSarabunNew/THSarabunNew\ Bold.ttf') format('truetype');
}
@font-face {
    font-family: "TH-Sarabun";
    font-style: italic;
    font-weight: normal;
    src: url('../../public/assets/fonts/THSarabunNew/THSarabunNew\ Italic.ttf') format('truetype');
}
@font-face {
    font-family: "TH-Sarabun";
    font-style: italic;
    font-weight: 700;
    src: url('../../public/assets/fonts/THSarabunNew/THSarabunNew\ BoldItalic.ttf') format('truetype');
}
/* body {
    font-family: "TH-Sarabun";
    font-size: 30px;
} */